@font-face {
  font-family: 'Francaise';
  src: url('./fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Academique';
  src: url('./fonts/CormorantSC-Light.ttf') format('truetype');
}

@mixin font-project{
    font-size: 18px;
    font-weight: 700;
}
