@import '../../styles/responsive.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.home{
    display:flex;
    flex-direction:column;
    background-color: rgb(1, 49, 39);
}
.about{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: medium;
    gap:20px;
    .photo{
        object-fit: cover;
        width:25%;
        text-align: center;
        margin:40px;
    }
    .description{
        width:64%;
        align-self: center;
        font-size: 19px;
        .about-title{
            font-family: 'AcademiqueMaj';
            justify-self: center;
            font-size: 43px;
            margin-top:0px;
            margin-bottom:20px;
            color:$BleuEncre;
        }
    }
}
.training-title{
    font-family: 'AcademiqueMaj';
    font-size:43px;
    font-weight: 100;
    text-align: center;
    margin-top:0px;
    margin-bottom:20px;
    color:$BleuEncre;
}
.portfolio-title{
    font-family: 'AcademiqueMaj';
    font-size:43px;
    font-weight: 100;
    text-align: center;
    margin-top:0px;
    margin-bottom:20px;
    color:$BleuEncre;
}


@media(max-width:$tablet){
    .about{
        text-align: center;
       flex-direction: column;
       .photo{
        width:34%;
        align-self:center;
        margin:10px;
       }
       .description{
        margin:10px;
       }
    }
}
@media(max-width:$mobile){
    .about{
        .photo{
            width:43%;
        }
        .description{
            margin:15px;
        }
    }
}
