.home{
    display:flex;
    flex-direction:column;
    background-color: rgb(1, 49, 39);
}
.about{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: medium;
}
.photo{
    width:34%;
    text-align: center;
}
.description{
    width:64%;
    align-self: center;
    
}