@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.header{
    display:flex;
    justify-content: space-between;
    height: 100px;
}
.logo{
    text-decoration : none;
    color : $BleuEncre;
    font-family : 'Francaise';
    font-size: 75px;
}
.nom{
    font-family : 'Francaise';
    font-size: 43px;
    align-self: center;
    color : $BleuEncre;
}
.profession{
    font-family: 'Academique';
    font-size:43px;
    align-self: center;
    color : $BleuEncre;
}

.languages{
    display:flex;
    gap:15px;
}
button{
    height: 100px;
    background-color: white;
    border:none;
}
